body {

}

h2, h3 {

}

#navbar, .navbar-burger {
    background-color: #FFEF18;
}

.projectBtn {
    vertical-align: 8px;
}

.liveBtn {
    background-color: #FFEF18;
    border: none;
}

.liveBtn:hover {
    background-color: #FFDB4A;
    border: none;
}

.projectHero {
    margin-bottom: 1rem;
}

#linkedinBtn {
    background-color: #037BB6;
    color: white;
}

#githubBtn {
    background-color: #444444;
    color: white;
}

.icon {
    font-size: 1.4rem;
}

#techArea {
    text-align: center;
}

#projectTitle {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

#footerTitle {
    margin-bottom: 2rem;
}

#introArea {
    background-image: url('./img/aceSpaceBattle2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #262624;
}

#footerArea, #sceneDiv, #funHeadDiv {
    text-align: center;
}

.skillText {
    margin-bottom: 3px;
    font-size: large;
}

#me {
    max-width: 250px;
}

#modal {
    text-align: center;
}

.funImg {
    /* width: 250px;
    height: 250px; */
    align-content: center;
    justify-content: end;
}

.funImgDiv {
    display: inline;

}

#funHeadDiv {
    position: absolute;
    bottom: 0;
}

#fun1 {

    background-color: green;
}

#fun2 {

    background-color: yellow;
}

#fun3 {

    background-color: blue;
}
